  <div class="header">
    <div class="w-container hero-text">
	    <% main_slideshow = Refinery::ImageSlideshows::ImageSlideshow.find_by_title('primer slide') %>
	    <div id="wrapper">
	      <div class="slider-wrapper theme-default">
	        <div id="slider" class="nivoSlider">
	          <% main_slideshow.image_slides.each do |image_slide| %>
	            <%= link_to image_slide.link_url do %>
	              <%= image_tag image_slide.image.url, :alt => image_slide.title, :title => image_slide.caption %>
	            <% end %>
	          <% end %>
	        </div>
	      </div>
	    </div>
	    <script type="text/javascript">
	      $(document).ready(function() {
	          $('#slider').nivoSlider({
	            <%= raw main_slideshow.js_config %>
	          });
	      });
	    </script>
    </div>
  </div>
  <div class="trisection">
    <div class="w-container service-columns">
      <div class="w-row">
        <div class="w-col w-col-4 tricol">
          <div class="w-clearfix triblock">
            <h1>PRESENTACIÓN</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo
              cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p><a class="button" href="#">MÁS INFORMACIÓN</a>
          </div>
        </div>
        <div class="w-col w-col-4 tricol">
          <div class="w-clearfix triblock">
            <h1>PRODUCTOS</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo
              cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p><a class="button" href="#">MÁS INFORMACIÓN</a>
          </div>
        </div>
        <div class="w-col w-col-4 tricol">
          <div class="w-clearfix triblock">
            <h1>PRESENTACIÓN</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo
              cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p><a class="button" href="#">MÁS INFORMACIÓN</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section dark web" id="page-nav-portfolio">
  <div class="w-container">
    <div class="w-row">
      <div class="w-col w-col-3">
        <div class="destacar">
          <div class="textoblanco"><strong>Paneltim</strong>
            <br>cambia
            <br>tu manera
            <br>de trabajar</div>
        </div>
      </div>
      <div class="w-col w-col-9 portfolio-text">
        <div class="w-clearfix botondestacado">
          <%= render '/refinery/content_page' %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section marcas">
  <div class="w-container">
    <div class="w-container">
      <h2>Nuestras Marcas...</h2>
    </div>
    <div class="w-container">
      <img class="marca" src="https://y7v4p6k4.ssl.hwcdn.net/52404d082431920857000119/5246715197f46fb96300011d_proteus.png" alt="5246715197f46fb96300011d_proteus.png">
      <img class="marca" src="https://y7v4p6k4.ssl.hwcdn.net/52404d082431920857000119/5246715c97f46fb96300011e_paneltim.png" alt="5246715c97f46fb96300011e_paneltim.png">
      <img class="marca" src="https://y7v4p6k4.ssl.hwcdn.net/52404d082431920857000119/52467181a44337bb6300006f_3p.png" alt="52467181a44337bb6300006f_3p.png">
      <img class="marca" src="https://y7v4p6k4.ssl.hwcdn.net/52404d082431920857000119/52467168a44337bb6300006e_brabante.png" alt="52467168a44337bb6300006e_brabante.png">
      <img class="marca" src="https://y7v4p6k4.ssl.hwcdn.net/52404d082431920857000119/5246718aa44337bb63000070_taconic.png" alt="5246718aa44337bb63000070_taconic.png">
      <img class="marca" src="https://y7v4p6k4.ssl.hwcdn.net/52404d082431920857000119/52467132a44337bb6300006d_quadrant.png" alt="52467132a44337bb6300006d_quadrant.png">
      <img class="marca" src="https://y7v4p6k4.ssl.hwcdn.net/52404d082431920857000119/5246719297f46fb963000121_tivar.png" alt="5246719297f46fb963000121_tivar.png">
    </div>
  </div>
</div>
