<div class="trisection">
  <div class="w-container service-columns">
    <div class="w-row">
      <div class="w-col w-col-12 tricol">
        <div class="w-clearfix triblock">
          <%= raw @page.content_for(:superior) %>
        </div>
      </div>
      <div class="w-col w-col-12 tricol">
        <div class="w-clearfix triblock">
          <%= raw @page.content_for(:medio) %>
        </div>
      </div>
      <div class="w-col w-col-12 tricol">
        <div class="w-clearfix triblock">
          <%= raw @page.content_for(:inferior) %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
