
<div class="section marcas">
  <div class="w-container">
    <div class="w-container">
      <h2>Nuestros Productos</h2>
    </div>
    <div class="w-container">
      <ul id="pianos">
        <% @productos.each do |producto| %>
            <li>
              <%= link_to producto.name, refinery.productos_producto_path(producto) %>
            </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
