<div class="section dark pier">
    <div class="piesblock">
      <div class="w-container">
<div class="piecentrado">
<%= render(:partial => "/refinery/menu", :locals => {
		             :dom_id => 'menu',
		             :css => 'nav-bar'
		           }) %>
      </div>
</div>
  <div class="textologopie"><strong>PLATENSA - Plásticos Técnicos Nijs S.A. | Av. Benavides 2035 - Miraflores | Telf: (00511) 273 4730</strong>
  </div>
</div>
