body {
  background-color: #f7f7f7;
  font-family: Lato, sans-serif;
  color: #777;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}
h1 {
  margin: 10px 0px;
  font-family: Raleway, sans-serif;
  color: #5f8fc4;
  font-size: 18px;
  line-height: 44px;
  font-weight: 100;
  text-align: left;
  letter-spacing: 0px;
  text-transform: uppercase;
  text-shadow: none;
}
h2 {
  margin-right: 0px;
  margin-left: 0px;
  border: 0px solid black;
  box-shadow: none;
  font-family: Raleway, sans-serif;
  color: #5f8fc4;
  font-size: 22px;
  line-height: 36px;
  font-style: normal;
  font-weight: 100;
  text-align: left;
  letter-spacing: 1px;
  text-transform: none;
  text-shadow: rgba(0, 0, 0, 0.24) 0px 1px 0px;
}
h3 {
  margin-right: 0px;
  margin-left: 0px;
  padding-bottom: 15px;
  color: #222;
  font-size: 21px;
  line-height: 30px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
}
h4 {
  margin: 10px 0px;
  font-family: Raleway, sans-serif;
  color: #5e8fc4;
  font-size: 22px;
  line-height: 24px;
  font-weight: 100;
  letter-spacing: -1px;
}
h5 {
  margin: 10px 0px;
  font-family: Raleway, sans-serif;
  color: #5e8fc4;
  font-size: 21px;
  line-height: 20px;
  font-weight: 100;
}
h6 {
  margin: 10px 0px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
p {
  width: auto;
  margin-bottom: 5px;
  font-family: Raleway, sans-serif;
  font-size: 11px;
  font-weight: 100;
  text-align: justify;
}
.button {
  display: inline-block;
  margin-top: 20px;
  margin-right: 22px;
  margin-left: 0px;
  padding: 4px 15px;
  float: right;
  border-radius: 5px;
  background-color: #dedfdf;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  font-family: Raleway, sans-serif;
  color: #585757;
  font-size: 11px;
  font-weight: 100;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}
.button:hover {
  border: 0px none #b6b6b6;
  background-color: #777;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  color: white;
}
.button.more {
  margin-top: 60px;
  border: 1px solid #c7c7c7;
  background-color: rgba(0, 0, 0, 0);
  background-image: none;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  color: #c7c7c7;
  font-size: 12px;
}
.button:hover.more:hover {
  border-color: #aaa;
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  color: #777;
  font-size: 12px;
}
.section.header {
  padding-top: 0px;
  background-image: url(../images/heroman.jpg);
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: fixed;
}
.section.dark {
  padding-top: 23px;
  padding-bottom: 16px;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #eee;
  background-color: #efefef;
  background-image: none;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
.section.dark.web {
  padding-top: 33px;
  padding-bottom: 0px;
  border-top-color: #c3c2c2;
  border-bottom-color: #c3c2c2;
  background-color: #eeefef;
  background-image: none;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
.section.dark.pier {
  padding-top: 0px;
  border-bottom-width: 8px;
  border-bottom-color: #d0d1d1;
}
.section.bg-image {
  padding-top: 125px;
  padding-bottom: 125px;
  background-image: url(../images/wall.jpg);
  background-size: cover;
  background-attachment: fixed;
}
.section.map {
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.section.head {
  border-style: solid;
  border-width: 6px 0px 0px;
  border-color: #535454;
}
.section.marcas {
  padding-top: 28px;
  padding-bottom: 28px;
  border-top: 1px solid #d9d9d9;
  background-color: #f7f7f7;
}
.nav-links {
  margin: 10px 5px;
  padding: 5px 19px;
  box-shadow: none;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  font-family: Raleway, sans-serif;
  color: #585757;
  font-size: 11px;
  font-weight: 100;
  text-align: left;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: rgba(0, 0, 0, 0.24) 0px 1px 0px;
}
.nav-links:hover {
  padding-top: 5px;
  padding-bottom: 5px;
  border-width: 0px;
  border-top-style: solid;
  border-top-color: black;
  border-bottom-style: solid;
  border-bottom-color: black;
  border-left-style: solid;
  border-left-color: black;
  border-radius: 4px;
  background-color: #eee;
  box-shadow: none;
  -webkit-transform: translate(0px, -5px);
  -ms-transform: translate(0px, -5px);
  -o-transform: translate(0px, -5px);
  transform: translate(0px, -5px);
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  color: #575757;
  text-shadow: none;
}
.nav-links.last {
  border-right-width: 0px;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  text-shadow: rgba(0, 0, 0, 0.24) 0px 1px 0px;
}
.nav-links:hover.last:hover {
  background-image: -webkit-linear-gradient(#395776, #395776);
  background-image: -o-linear-gradient(#395776, #395776);
  background-image: linear-gradient(#395776, #395776);
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  text-shadow: black 0px 0px 0px;
}
.nav-links.pie {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 11px;
  padding-bottom: 11px;
  float: right;
  border-right-color: #959494;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  color: white;
  text-shadow: black 0px 0px 0px;
}
.nav-links:hover.pie:hover {
  background-color: rgba(56, 87, 117, 0);
  background-image: none;
  -webkit-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
  color: #a3e2f7;
}
.nav-bar {
  display: inline-block;
  margin-top: 0px;
  padding: 27px 19px 17px;
  clear: none;
  border-right: 0px solid #d8d8d8;
  border-left: 1px solid #d8d8d8;
  font-family: Raleway, sans-serif;
  color: #575757;
  font-size: 11px;
  font-weight: 100;
  text-align: right;
  text-decoration: none;
}
.nav-bar:hover {
  color: #609bcc;
}
.nav-bar.last {
  border-right-width: 1px;
}
.nav-bar.topi {
  padding-top: 10px;
  padding-bottom: 0px;
  border-left-width: 0px;
}
.hero-text {
  height: 340px;
  padding-top: 0px;
}
.hero-text.about-text {
  margin-top: 0px;
}
.services {
  padding-right: 20px;
  padding-left: 20px;
}
.icon {
  padding-top: 0px;
  padding-bottom: 20px;
}
.service-columns {
  background-color: rgba(0, 0, 0, 0);
}
.portfolio-text {
  height: 347px;
  background-position: 100% 50%;
  background-repeat: no-repeat no-repeat;
}
.portfolio-text.left-up {
  margin-top: 60px;
}
.gallery-text {
  padding-right: 144px;
  padding-left: 144px;
  text-align: center;
}
.gallery {
  margin-top: 55px;
  text-align: center;
}
.gallery-img {
  border: 5px solid white;
  box-shadow: #ccc 1px 1px 3px -1px;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
.gallery-img:hover {
  box-shadow: #ccc 1px 1px 3px -1px;
  opacity: 0.5;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}
.center-tittle {
  text-align: center;
}
.job-title {
  display: inline-block;
  padding-top: 0px;
  padding-bottom: 30px;
  float: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.20);
  font-family: Georgia, serif;
  font-style: italic;
  letter-spacing: 1px;
  text-decoration: none;
}
.team-text {
  margin-top: 31px;
  padding-right: 9px;
}
.name {
  padding-top: 39px;
  padding-bottom: 4px;
}
.social-team {
  position: static;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding-top: 20px;
}
.team2 {
  padding-top: 120px;
}
.h1-dark {
  padding-bottom: 60px;
  color: #222;
  text-align: left;
  text-shadow: rgba(33, 33, 33, 0.24) 0px 1px 0px;
}
.field {
  margin-top: 25px;
  margin-bottom: 25px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.address {
  padding-top: 30px;
}
.conatct-info {
  margin-top: 0px;
}
.support-text {
  margin-top: 50px;
}
.footer {
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: #222;
}
.footer-logo {
  width: 30%;
  float: left;
  opacity: 0.2;
}
.social-wrapper {
  float: right;
  text-align: right;
}
.social-link {
  padding-right: 5px;
  padding-left: 5px;
  opacity: 0.57;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
.social-link:hover {
  padding-top: 0px;
  opacity: 1;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
.footlogo {
  opacity: 0.5;
}
.footlogo:hover {
  opacity: 1;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
.social-icon {
  padding-right: 10px;
  float: right;
  opacity: 1;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
.social-icon:hover {
  opacity: 1;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
.logolink {
  position: fixed;
  margin-top: 30px;
  margin-right: 0px;
}
.company-logo {
  float: left;
}
.gallery-img {
  box-shadow: #ccc 1px 1px 3px -1px;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
.align-right {
  text-align: right;
}
.google-map {
  margin-top: 0px;
  margin-bottom: -5px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.header {
  background-image: url(../images/slider_platensa.png);
  background-position: 50% 50%;
  background-repeat: no-repeat no-repeat;
}
.image-wrapper {
  width: 40%;
  float: left;
}
.info-wrapper {
  width: 60%;
  float: right;
}
.topmenu {
  margin-top: 4px;
  margin-bottom: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  border: 1px solid #ddd;
  border-radius: 7px;
  background-color: white;
}
.destacado {
  border-right: 1px solid #dfe0e0;
}
.destacar {
  display: block;
  height: 178px;
  margin-top: 51px;
  margin-right: auto;
  margin-left: auto;
  border: 0px solid black;
  background-color: #b2a956;
  text-align: center;
}
.destaca {
  padding-right: 22px;
  padding-left: 22px;
  font-family: Raleway, sans-serif;
  color: black;
  font-size: 13px;
  font-weight: 100;
  text-align: justify;
}
.marca {
  margin-top: 17px;
  padding-right: 2px;
  padding-left: 0px;
  text-align: center;
}
.textologopie {
  margin-top: 32px;
  direction: ltr;
  font-family: Raleway, sans-serif;
  color: #9e9c9c;
  font-size: 12px;
  font-weight: 100;
  text-align: center;
  text-transform: none;
}
.logopie {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.iconospie {
  position: static;
  display: block;
  margin-right: 7px;
  margin-left: 7px;
  padding-top: 7px;
  padding-right: 0px;
  padding-left: 0px;
  float: left;
  clear: none;
}
.iconospies {
  padding-right: 0px;
  padding-left: 38px;
}
.circulos {
  margin-bottom: 45px;
}
.globos {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 35px;
  padding-bottom: 60px;
}
.social {
  display: block;
  height: auto;
  margin-top: 7px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 39px;
  float: none;
  clear: none;
}
.icons {
  margin-top: 15px;
  margin-bottom: 6px;
}
.tricuadro {
  padding: 11px 12px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  background-color: white;
}
.triblock {
  margin: 10px 9px;
  padding: 9px 13px;
  border: 1px solid #e0e0e0;
  border-radius: 7px;
  background-color: white;
}
.tricol {
  padding-right: 3px;
  padding-left: 3px;
}
.separador {
  display: inline;
  float: none;
  font-family: Arial, Helvetica, sans-serif;
  color: #e3e3e3;
}
.botondestacado {
  width: 380px;
  margin-top: 36px;
}
.trisection {
  margin-top: 24px;
}
.textoblanco {
  padding-top: 35px;
  padding-left: 76px;
  color: white;
  font-size: 25px;
  line-height: 26px;
  font-weight: 300;
  text-align: left;
}
.pie {
  position: static;
  clear: none;
}
.pielinks {
  text-align: left;
}
.pies {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.pieces {
  position: static;
  display: block;
  overflow: visible;
  margin-right: auto;
  margin-left: auto;
  float: none;
  clear: none;
  text-align: center;
}
.piesblock {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.centrame {
  text-align: center;
}
.prueba {
  position: static;
  display: inline;
  overflow: visible;
  width: 100%;
  float: none;
  clear: none;
  text-align: right;
}
.last {
	display:none;
}

@media (max-width: 991px) {
  h1 {
    font-size: 80px;
    text-shadow: black 0px 0px 0px;
  }
  h2 {
    margin-top: 0px;
    margin-bottom: 30px;
    font-size: 24px;
    text-shadow: black 0px 0px 0px;
  }
  h3 {
    font-size: 19px;
  }
  p {
    font-size: 13px;
  }
  .button {
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  .section.header {
    position: static;
    padding-bottom: 171px;
    background-image: url(../images/heroman.jpg);
    background-position: 50% -1%;
    background-attachment: scroll;
  }
  .section.dark {
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  .section.bg-image {
    position: static;
    background-image: url(../images/wall.jpg);
    background-position: 50% 50%;
    background-attachment: scroll;
  }
  .nav-links {
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    text-shadow: rgba(0, 0, 0, 0.24) 0px 1px 0px;
  }
  .nav-bar {
    padding-top: 46px;
    padding-right: 25px;
  }
  .hero-text {
    margin-top: 60px;
  }
  .hero-text.about-text {
    margin-top: 0px;
  }
  .portfolio-text {
    margin-top: 46px;
  }
  .portfolio-text.left-up {
    margin-top: 25px;
  }
  .job-title {
    margin-top: 4px;
  }
  .social-team {
    top: 0px;
  }
  .logolink {
    position: static;
  }
  .header {
    background-image: -webkit-linear-gradient(rgba(58, 84, 94, 0.30), rgba(58, 84, 94, 0));
    background-image: -o-linear-gradient(rgba(58, 84, 94, 0.30), rgba(58, 84, 94, 0));
    background-image: linear-gradient(rgba(58, 84, 94, 0.30), rgba(58, 84, 94, 0));
  }
  .image-wrapper {
    padding-right: 18px;
  }
}
@media (max-width: 767px) {
  h1 {
    font-size: 58px;
    text-shadow: black 0px 0px 0px;
  }
  h2 {
    margin-bottom: 10px;
    font-size: 18px;
    text-shadow: black 0px 0px 0px;
  }
  .button {
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  .section {
    margin-bottom: 0px;
    padding-top: 43px;
    padding-bottom: 43px;
  }
  .section.header {
    padding-bottom: 99px;
    background-image: url(../images/heroman.jpg);
    background-position: 50% 50%;
  }
  .section.dark {
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  .section.bg-image {
    background-image: url(../images/wall.jpg);
    background-repeat: no-repeat no-repeat;
    background-attachment: scroll;
  }
  .nav-links {
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    text-shadow: rgba(0, 0, 0, 0.24) 0px 1px 0px;
  }
  .nav-bar {
    left: 0px;
    top: 0px;
    right: 0px;
    height: 60px;
    padding-top: 18px;
    padding-right: 0px;
    background-color: rgba(42, 81, 99, 0.2);
    text-align: center;
  }
  .hero-text {
    margin-top: 25px;
  }
  .hero-text.about-text {
    margin-top: -10px;
  }
  .services {
    margin-bottom: 30px;
    padding-top: 0px;
  }
  .portfolio-text {
    padding-right: 20px;
    padding-left: 20px;
  }
  .portfolio-text.left-up {
    margin-top: 0px;
    padding-right: 10px;
    padding-bottom: 50px;
    padding-left: 10px;
  }
  .gallery-text {
    padding-right: 25px;
    padding-left: 25px;
  }
  .gallery-img {
    margin-top: 12px;
    margin-bottom: 12px;
    box-shadow: #ccc 1px 1px 3px -1px;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  .name {
    text-align: left;
  }
  .team2 {
    padding-top: 0px;
  }
  .h1-dark {
    padding-bottom: 31px;
    text-align: center;
  }
  .contact-form {
    padding-right: 20px;
    padding-left: 20px;
  }
  .address {
    text-align: center;
  }
  .conatct-info {
    padding-bottom: 60px;
    text-align: center;
  }
  .footer {
    padding-right: 13px;
    padding-left: 13px;
  }
  .social-wrapper {
    padding-top: 0px;
  }
  .h3phone {
    text-align: center;
  }
  .logo-bar {
    padding-top: 22px;
    padding-bottom: 22px;
    padding-left: 0px;
    text-align: center;
  }
  .logolink {
    margin-top: 0px;
  }
  .gallery-img {
    padding-left: 0px;
  }
  .image-wrapper {
    text-align: right;
  }
  .team-column {
    margin-bottom: 54px;
  }
}
@media (max-width: 479px) {
  h1 {
    margin-top: 0px;
    padding-top: 0px;
    font-size: 34px;
    line-height: 40px;
    text-shadow: black 0px 0px 0px;
  }
  h2 {
    margin-bottom: -10px;
    padding-top: 0px;
    padding-bottom: 10px;
    font-size: 12px;
    line-height: 28px;
    text-shadow: black 0px 0px 0px;
  }
  h3 {
    font-size: 18px;
    text-align: center;
  }
  p {
    padding-right: 20px;
    padding-left: 19px;
    text-align: center;
  }
  .button {
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  .section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .section.header {
    padding-bottom: 51px;
    background-image: url(../images/heroman.jpg);
    background-position: 50% 50%;
  }
  .section.dark {
    padding-top: 50px;
    padding-bottom: 50px;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  .section.bg-image {
    padding-top: 30px;
    padding-bottom: 30px;
    background-image: url(../images/wall.jpg);
  }
  .nav-links {
    position: static;
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 6px;
    padding-top: 7px;
    padding-bottom: 0px;
    padding-left: 16px;
    font-size: 12px;
  }
  .nav-bar {
    left: 0px;
    margin-bottom: 0px;
    padding: 12px 8px 10px 0px;
  }
  .hero-text {
    margin-top: 40px;
  }
  .hero-text.about-text {
    margin-top: 18px;
  }
  .services {
    padding-bottom: 40px;
  }
  .icon {
    padding-left: 118px;
    text-align: center;
  }
  .portfolio-text {
    margin-top: 40px;
    padding-left: 22px;
    text-align: center;
  }
  .portfolio-text.left-up {
    margin-top: 0px;
    padding-bottom: 50px;
    padding-left: 0px;
  }
  .gallery-text {
    padding-right: 20px;
    padding-left: 20px;
  }
  .gallery-img {
    margin-top: 20px;
    box-shadow: #ccc 1px 1px 3px -1px;
  }
  .center-tittle {
    font-size: 18px;
  }
  .name {
    text-align: center;
  }
  .social-team {
    top: 0px;
  }
  .team2 {
    padding-top: 70px;
  }
  .h1-dark {
    padding-top: 60px;
    padding-bottom: 10px;
    text-shadow: black 0px 0px 0px;
  }
  .address {
    text-align: center;
  }
  .conatct-info {
    text-align: center;
  }
  .social-wrapper {
    padding-top: 0px;
  }
  .image-wrapper {
    width: 100%;
    float: none;
    text-align: center;
  }
  .info-wrapper {
    width: 100%;
    float: none;
    text-align: center;
  }
}